*, *::before, *::after {
  box-sizing: border-box;
  text-transform: uppercase;}

:root {
  --basic-dark: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81B3D3;
  --basic-brown: #766458;
  --basic-gray: #EEEEEE;
}

body {  
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 14px;
  line-height: 26px;
}

a { 
  text-decoration: none;
}

.wrap {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 40px;
}  

/*header*/

.main-navigation {
  height: 70px;
  position: relative;
  margin-bottom: 5px;
  width: 1054px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  padding: 0;
  list-style: none;
}

.list a,
.arrival,
.departure,
.adult,
.children {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

/*main*/

.visually-hidden {
  display: none;
}

.welcome-sedona {
height: 510px;
background: url("../img/background-photo.jpg") no-repeat;
text-align: center;
}

.welcome-sedona img {
  margin-top: 75px;
}

.sedona-text {
  margin-top: 124px;
  background: url("../img/rectangle.svg") no-repeat 50% 50%;
}

.sedona-advantage {
  text-align: center;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.advantage-right-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.advantage-left-image { 
  display: grid;
  grid-template-columns: 1fr 1fr;
}



/*main-hotels*/

.hotels {
  background: url(../img/background.png);
}

.hotels form {
  display: flex; 
}

.infrastructure {
  width: 135px;
  margin-left: 72px;
}

.housing-type {
  width: 136px;
  margin-left: 119px;
}

.price-per-day {
  width: 317px;  
  margin: 0 73px 0 348px;
}

.search {
  display: flex;
  align-items: center;
  height: 86px;
}

.list-of-result {
  display: flex;
  flex-direction: column;  
}

.hotel,
.motel,
.apartments {
  height: 150px;
  display: flex;
}

.hotel img {
  margin: auto 0 auto 0;
}

.amara {
  display: flex;
  width: 258px;
  align-items: center;
  flex-wrap: wrap; 
}

.amara h2,
.amara p,
.amara a {
  height: 27px;
  margin: 0; 
}

.amara p {
  width: 76px;
}

.amara-rate {
  display: flex;
  flex-direction: column;
  margin-right: 73px;
  margin-left: auto;
}


.sedona-advantage p,
.infrastructure span,
.housing-type span,
.price-per-day input,
.price-per-day button,
.host-type,
.host-price,
.four-stars
.three-stars,
.two-stars {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.welcome-sedona p,
.search-hostels p,
.search-hostels input,
.adress p,
.adress a,
.found,
.list-of-result h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sedona-advantage h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.interest {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.date {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.developed p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.infrastructure legend,
.housing-type legend,
.price-per-day legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.search-sort,
.sort-by-price,
.sort-by-type,
.sort-by-rating {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.booking {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

/*footer*/

/*.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}*/

.main-footer {
  display: flex;
  justify-content: space-between;
}