
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;}

html {
  height: 100%;
}

:root {
  --basic-dark: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81B3D3;
  --basic-hover-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-brown: #766458;
  --basic-special-brown: #766357;
  --basic-hover-brown: #604E43;
  --basic-dark-brown: #503E33;
  --basic-gray: #EEEEEE;
  --basic-gray-text: #CACACA;
  --basic-dark-gray: #6A6A6A;
  --basic-light-gray: #E5E5E5;
  --basic-special: #ABABAB;
  --basic-very-light-gray: #F2F2F2; 
}

.page {
  /*display: grid;
  grid-template-rows: min-content 1fr min-content;*/
  min-height: 100%;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 14px;
  line-height: 26px; 
  background-color: var(--basic-very-light-gray);
}

a { 
  text-decoration: none;
}

.shadow {
  width: 1200px;  
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.2);  
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  background-color: var(--basic-white);
}

.wrap {
  margin: 0 auto;
  max-width: 1200px;  
}  

/*header*/

.main-navigation {
  height: 55px;
  position: relative;  
}

.logo {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70px;
  padding: 0;
  list-style: none;
  margin: 0 72px;  
}

.nav-list li {
  padding-top: 14px;
  width: 226px; 
}

.nav-list li:nth-child(2) {
  padding-left: 2px;
  margin-right: 152px;
}

.nav-list li:nth-child(3) {
  text-align: end;
}

.nav-list li:nth-child(4) {
  text-align: end;
}

.list a {
  color: var(--basic-dark);
  text-align: center;
}

.list a:hover {
  color: var(--basic-blue);
}

.list a:active {
  color: rgba(0,0,0,0.3);
}

/*main*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.welcome-sedona {
position: relative;
height: 510px;
background-image: url("../img/background-photo.jpg");
text-align: center;
background-color: var(--basic-brown);
}

.welcome-sedona img {  
  margin-top: 73px;
}

.welcome-sedona:after {
  content: "";
  position: absolute; 
  right:0;
  bottom: 0;
  width: 100%;
  background-image: url("../img/rectangle.svg");
  height: 56px;
}

.main-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-grid .advantage {
  background-color: var(--basic-gray);
}

.advantage-right-image {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: var(--basic-blue);  
}

.advantage-right-image .advantage {
  color: var(--basic-white);
}

.advantage-left-image .advantage {
  color: var(--basic-white);
}

.advantage-left-image { 
  display: -ms-grid; 
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: var(--basic-blue);
}

.sedona-advantage-text {
  width: 490px;
  margin: 0 auto;
}

.sedona-text {
  margin-top: 41px;
}

.sedona-text-two {
  margin-top: 44px;
}

.sedona-advantage {
  position: relative;
  text-align: center;
}

.advantage h3 {
  width: 151px;
  margin: 0 auto;
  padding-bottom: 26px; 
}

.advantage {      
  padding-top: 48px;
  padding-bottom: 53px;
}

.advantage p {
 margin: 0;  
}

.advantage p:last-child {
  padding-top: 25px;
}

.advantage-right-image {
  margin-top: 52px;
}

.reason { 
  padding-top: 138px;
  padding-bottom: 67px;
}

.reason p {
  padding: 6px 50px 0 50px;
}

.main-grid .reason:nth-child(1) {
  background: url(../img/icon1.svg) no-repeat 50% 60px;
}

.main-grid .reason:nth-child(2) {
  background: url(../img/icon3.svg) no-repeat 50% 60px;
}

.main-grid .reason:nth-child(3) {
  background: url(../img/icon2.svg) no-repeat 50% 60px;
}

.hotel-order {
  position: relative; 
  text-align: center;
  padding-top: 56px;
}

.hotel-order img {
  display: block;
}

.interest {
  margin: 0; 
} 

.date {
  margin: 0 auto; 
  width: 435px;
  padding-top: 34px;
  padding-bottom: 45px;
}

/*form*/

.search-hostels {
  position: absolute;
  left: 26.4%;
  top: 33%;
  width: 568px;  
  margin: 0 auto; 
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  background-color: var(--basic-white);
}

.btn-hotel {
  width: 568px;
  padding: 30px 0 30px 0;
  margin: 0;
  border: 0;  
  text-align: center;   
  background-color: var(--basic-brown);
  color: var(--basic-white);
  text-transform: uppercase;
}

.btn-hotel:hover {
  background-color: var(--basic-hover-brown);
}

.btn-hotel:active {
  background-color: var(--basic-dark-brown);
  color: rgba(256, 256, 256, 0.6);
}

.search-filds {
  height: 395px;
  padding: 55px;
}

.arrival-and-departure {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.departure {
  position: relative;
  padding-top: 4px;
  padding-right: 21px;  
}

.arrival {
  position: relative;
  padding-top: 4px;
  padding-right: 24px;  
}

.arrival-and-departure input {
  height: 38px;
  width: 345px;
  padding: 0 0 3px 11px;
  font: inherit; 
  border: 0;
  background-color: var(--basic-gray);
}

.arrival + input,
.departure + input {
  margin-bottom: 29px;  
}

.calendar-top {
  position: absolute; 
  width: 21px;
  height: 23px;
  top: 16%;
  left: 85%;
  right: 0;
  border: 0;
  padding: 0;
  margin: 0;
}

.calendar-bottom { 
  position: absolute;
  width: 21px;
  height: 23px;
  top: 33%;
  left: 85%;
  right: 0; 
  border: 0;
  padding: 0;
  margin: 0;
}

.calendar-top:hover .calendar-fill {  
  fill: var(--basic-dark);
}

.calendar-top:active .calendar-fill {  
  fill: var(--basic-blue);
}

.calendar-bottom:hover .calendar-fill {  
  fill: var(--basic-dark);
}

.calendar-bottom:active .calendar-fill {  
  fill: var(--basic-blue);
}

.adult input {
  padding-left: 41px;
}

.adult {
  position: relative;
  padding-right: 42px;
  padding-top: 5px;
}

.adult button {
  position: absolute;
}

.adult button:first-child {
  left: 121px;
  border: 0;
}

.adult button:last-child {
  left: 200px;
  border: 0;
}

.children {
  padding: 5px 29px 0 55px;
}

.adult-and-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 55px;
}

.adult-and-children input {
  height: 38px;
  width: 42px;
  padding-left: 16px;
  font: inherit; 
  border: 0;  
  background-color: var(--basic-gray);
  -moz-appearance: textfield;
}

.adult-and-children input::-webkit-outer-spin-button,
.adult-and-children input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.adult-and-children button {
  border: 0;
  width: 34px;
  color: var(--basic-special);
}

.adult-and-children button:hover {
  color: var(--basic-dark);
}

.adult-and-children button:active {
  color: var(--basic-blue);
}

.btn-search {
  width: 458px;
  height: 58px;
  text-align: center;  
  border: 0;  
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-blue);
}

.btn-search:hover {
  background-color: var(--basic-hover-blue);
}

.btn-search:active {
  background-color: var(--basic-dark-blue);
  color: rgba(256, 256, 256, 0.6);
}

.arrival-and-departure input:focus,
.adult-and-children input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-gray);
  outline: none;  
}

/*main-hotels*/

.hotels {
  position: relative;
  padding-bottom: 3px;
  background-image: url(../img/background.png);
}

.hotels form {  
  display: flex;
  padding: 26px 0 0;  
}

.field-column {    
  margin: 0;
  border: 0;
  width: 21.3%;
  padding-left: 72px;
  padding-right: 10px;
  color: var(--basic-white);
}

.field-column legend {
  margin-bottom: 18px;  
}

.infrastructure-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;  
}

.field-column label { 
  display: block; 
  margin-bottom: 20px;
  cursor: pointer;
}

.infrastructure-type label:first-child {
  background: url(../img/checkbox-on.svg) no-repeat 1% 8%;
}

.checkbox + span {
  position: relative;
  padding-left: 40px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.checkbox {
 position: fixed;
 opacity: 0;
}

.checkbox:disabled + span::after {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  top: 2px;
  left: 1px;
  border: 2px solid var(--basic-dark-gray);
  border-radius: 2px;     
}

.checkbox:disabled + span::before {  
  box-shadow: inset 4px -4px 0 0 var(--basic-dark-gray);  
  transform: rotate(-45deg);  
}
 
.checkbox + span::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 12px;
  top: 3px;
  left: 5px;
  transform: rotate(-45deg);     
}

.checkbox:checked + span::before {
  box-shadow: inset 4px -4px 0 0 var(--basic-white);   
}

.checkbox + span::after {  
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
  border: 2px solid var(--basic-white);
  border-radius: 2px;  
}

.checkbox:checked + span::after {
  border: 0;
 background: url(../img/checkbox-on.svg) no-repeat 1% 8%;
}

.price-per-day {
  display: flex;
  flex-direction: column; 
  border: 0;
  padding: 0;  
  margin: 0 73px 0 auto;
  color: var(--basic-white);
}

.price-per-day legend {  
  padding: 0 0 13px 0;
}

.price-controls {
  position: relative;
  width: 317px;
  height: 35px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  margin-bottom: 21px;
}

.min-price input,
.max-price input {
  width: 60px;
  color: inherit;
  background-color: transparent;
  border: 0;  
}

.min-price input:focus,
.max-price input:focus {
  outline: none;  
}
.min-price {
  padding-left: 66px;
}

.max-price {
  padding-left: 66px;
}

.max-price::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 2px;
  top: 6px;
  left: 158px;
  background-color: var(--basic-white);
}

.range-controls {
  position: relative;
  margin-bottom: 34px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--basic-special);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: -10px; 
  width: 19px;
  height: 19px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-special);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 var(--basic-special);
          box-shadow: 0 2px 1px 0 var(--basic-special);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 253px;
}

.toggle-min:hover,
.toggle-max:hover  {
  position: absolute;
  top: -12px; 
  width: 23px;
  height: 23px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-special);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 var(--basic-special);
          box-shadow: 0 2px 1px 0 var(--basic-special);
  cursor: pointer;
}

.price-per-day button {
  margin-left: 85px;
  padding-bottom: 4px;
  text-align: center;
  height: 35px;
  width: 136px;
  background-color: transparent;
  color: inherit;
  text-transform: uppercase;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.search { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  align-items: center;  
  margin: 9px 0 0 0; 
  list-style: none;
  border-bottom: 1px solid var(--basic-light-gray);
}

.search li:nth-child(1) {  
  padding: 0 0 10px 33px;
}

.search li:nth-child(2) {
  padding: 0 0 15px 47px;
}

.search li:nth-child(3) {
  padding: 0 0 15px 40px;  
}

.search li:nth-child(4),
.search li:nth-child(5) {
  padding: 0 0 15px 33px;
}

.sort-by-price {
  color: var(--basic-blue);
}

.sort-by-type {
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted var(--basic-blue);
}

.sort-by-rating {
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted var(--basic-blue);
}

.sort-by-type:hover,
.sort-by-rating:hover {
  color: var(--basic-blue);
}

.sort-by-price:active,
.sort-by-type:active,
.sort-by-rating:active {
  color: var(--basic-dark);
}

.searching-result {
  position: relative;
}

.sort-pointer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  top: 31px;
  right: 74px;
  width: 31px;   
}

.up,
.down {
  width: 0;
  margin: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.down {
  border-top: 10px solid var(--basic-blue);
}

.up {
  border-bottom: 10px solid var(--basic-gray-text);
}

.up:hover {
  border-bottom: 10px solid var(--basic-dark);
}

.down:hover {
  border-top: 10px solid var(--basic-dark);
}

.up:active {
  border-bottom: 10px solid var(--basic-blue);
}

.list-of-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;  
  padding: 0;
  margin: 0;
 
}

.list-of-result li {
  height: 151px; 
  border-bottom: 1px solid var(--basic-light-gray);
}

.hotel,
.motel,
.apartments { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
}

.hotel img,
.motel img,
.apartments img {
  width: 208px;
  padding-left: 73px;
  margin: auto 0;
}

.amara,
.desert-quail-inn,
.villas-at-poco-diablo {
  width: 288px;    
}

.amara h2,
.motel h2,
.apartments h2 {
  padding: 24px 0 0 28px;  
  margin: 0; 
}

.amara h2:hover,
.motel h2:hover,
.apartments h2:hover {
  color: var(--basic-blue);
}

.amara h2:active,
.motel h2:active,
.apartments h2:active {
  color: rgba(0,0,0,0.3);
}


.desert-quail-inn h2 {
  width: 210px;
}

.amara > p,
.desert-quail-inn > p,
.villas-at-poco-diablo > p {
  display: inline-block;
  width: 114px;
  padding: 4px 0 0 28px; 
  margin: 0;
}

.more-details {
 display: inline-block;
 width: 111px;
 height: 26px;
 margin-left: 28px;
 margin-top: 15px;
 text-align: center;
 vertical-align: bottom;
 color: var(--basic-white);
 background-color: var(--basic-blue);
}

.booking {
  display: inline-block;
  width: 142px;
  height: 26px;
  margin-left: 2px;
  margin-top: 15px;
  text-align: center;
  vertical-align: bottom;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.more-details:hover {
  background-color: var(--basic-hover-blue);
}

.more-details:active {
  background-color: var(--basic-dark-blue);
  color: rgba(256, 256, 256, 0.6);
}

.booking:hover {
  background-color: var(--basic-hover-brown);
}

.booking:active {
  background-color: var(--basic-dark-brown);
  color: rgba(256, 256, 256, 0.6);
}

.hotel div:last-child,
.motel div:last-child,
.apartments div:last-child {
  position: relative;
  margin: 0 72px 0 auto;
}

.host-rating {
  width: 110px;
  height: 27px;
  text-align: center;  
  background-color: var(--basic-very-light-gray);
  margin-top: 92px;
}

.four-stars {
  position: absolute;  
  height: 18px;
  top: 29px;
  right: 0px;
  background: url(../img/star.svg) repeat 0 50%;
}

.three-stars {
  position: absolute;  
  height: 18px;
  top: 28px;
  right: 0px;
  background: url(../img/star.svg) repeat 0 50%;
}

.two-stars {
  position: absolute;  
  height: 18px;
  top: 29px;
  right: 0px;
  background: url(../img/star.svg) repeat 0 50%;
}

/*footer*/

.main-footer {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  min-height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 53px;
}

.footer-index {
  position: relative;
  margin-top: -121px;
}
}

.social-network {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
}

.social-network a {
  width: 46px;
  height: 48px;
}

.twitter {   
  margin-right: 6px;
  background: url(../img/twitter.svg) no-repeat 50% 50% var(--basic-blue);
}

.facebook { 
  margin-right: 6px;
  background: url(../img/fb-icon.svg) no-repeat 50% 50% var(--basic-blue);
}

.youtube {    
  background: url(../img/youtube.svg) no-repeat 50% 50% var(--basic-blue);
}

.twitter:hover {
  background: url(../img/twitter.svg) no-repeat 50% 50% var(--basic-hover-blue);
}

.facebook:hover {
  background: url(../img/fb-icon.svg) no-repeat 50% 50% var(--basic-hover-blue);
}

.youtube:hover {
  background: url(../img/youtube.svg) no-repeat 50% 50% var(--basic-hover-blue);
}

.twitter:active {
  background: url(../img/twitter-active.svg) no-repeat 50% 50% var(--basic-dark-blue); 
}

.facebook:active {
  background: url(../img/fb-icon-active.svg) no-repeat 50% 50% var(--basic-dark-blue);  
}

.youtube:active {
  background: url(../img/youtube-active.svg) no-repeat 50% 50% var(--basic-dark-blue);  
}

.adress p {  
  margin: 0 0 9px;  
}

.adress a {
  color: var(--basic-dark);
}

.adress {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  padding: 5px 10px 18px;
}

.developed {
  display: flex;
  justify-content: center;  
  align-items: center;
  padding: ;
}

.academy span {
  display: block;
  padding-right: 3px;
  color: var(--basic-dark);
}

.academy:hover .academy-logo {  
  fill: var(--basic-blue);
}

.academy:active .academy-logo {
  fill: var(--basic-gray-text);
}

.academy {
  display: flex;
  align-items: center;
}

/*Fonts*/

.list a,
.arrival,
.departure,
.adult,
.children,
.search-hostels {  
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;  
}

.advantage p,
.reason p,
.price-controls input,
.price-per-day button
 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.sedona-text,
.adress p,
.adress a,
.found,
.list-of-result h2,
.btn-hotel,
.search-filds button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sedona-advantage h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.interest {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.date {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.developed p,
.sedona-text-two {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.field-column legend,
.price-per-day legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.search-sort,
.sort-by-price,
.sort-by-type,
.sort-by-rating {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.booking,
.more-details {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}